@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 25px;
    margin: 0;
    padding: 10px 7px;
    border: 2px solid black;
    border-radius: 5px;
}

.wrapper{
    border:2px solid black;
    width: 400px;
    background-color: #878a9c;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

img{
  align-items: center;
}